* {
  font-family: "Public Sans", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}

.border {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
ul li {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  color: hsl(232, 8%, 62%);
}
button {
  background-image: linear-gradient(90deg, #31d31c, #2bb7da);
  border: #2bb7da;
  border-radius: 25px;
  color: white;
  width: 180px;
  padding: 15px;
}
.border-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(0, 0%, 98%);
 
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  padding-left: 5%;
}
.background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.container {
  background-color: hsl(220, 14%, 96%);
}
.container h3 {
  font-size: 30px;
  font-weight: 100;
  margin: 0px;
}
.container p {
  color: hsl(232, 8%, 62%);
  width: 280px;
}
.border-1 h1 {
  color: hsl(232, 26%, 24%);
  font-size: 60px;
  font-weight: 100;
}
.border-3 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
 
}
.border-3 p {
  color: hsl(232, 8%, 62%);
  font-size: 15px;
  line-height: 1.5;
}
.mock-up {
  z-index: 2;
  position: relative;
  width: 100%;
  left: 150px;
}
.text {
  display: inline-block;
  margin: 40px 0;
}
.txt {
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  padding: 10px;
}
.txt h3 {
  font-size: 20px;
}
.footer {
  background-color: hsl(233, 26%, 24%);
  color: white;
  
}
.footer .maximum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maximum {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;

}
@media (max-width: 700px) {
  
  .border-1 {
    display: flex;
    flex-direction: column-reverse;
   background-color: hsl(220, 14%, 96%);
  }
  .border-3 {
    flex-direction: column-reverse;
    margin-left: 200px;
    width: 100px;
  }
  .border-3 p {
    width: 500px;
    font-size: 20px;
  }
  .text p {
    font-size: 10px;
    width: 600px;
  }
  .txt h3 {
    width:300px ;
    margin-left: 100px;
    
  }
  .border-1 h1 {
  margin-left: 100px;
  }
  .border-1 p {
    text-align: center;
    margin-left: 100px;
  }
  .txt p {
    width: 200px;
  }
  body {
    text-align: center;
    background-color:hsl(220, 14%, 96%)
  }
  .border-3 img {
  margin-left: 200px;
  width: 100px;
  }
  .border-3 h4 {
    margin-left: 120px;
    width: 250px;
    font-size: 25px;
  }

  
}
